Aterian esittelysivu

<form name="muokattavaAteria" ng-controller="AterianController">
<h2>{{ateria.nimi}}</h2>
<p>
Hinta:
<input type="number" ng-model="hinta" name="hint" ng-required="true" ng-minlength="1" ng-maxlength="5"> €</p>
<div role="alert">
    <span class="error" ng-show="muokattavaAteria.hint.$error.required">
      <b>Anna arvo</b></span>
    <span class="error" ng-show="muokattavaAteria.hint.$error.number">
      <b>Antamasi numero on vihreellinen!</b></span>
  </div>
<p>Tavara id: {{ateria.id}}</p>
<p>Tuote lisätty: {{ateria.added}}</p>
<p>Kuvaus: <input type="text" ng-model="kuvaus" name="kuv" ng-required="true" ng-minlength="5" ng-maxlength="1000"></p>
<div role="alert">
    <span class="error" ng-show="muokattavaAteria.kuv.$error.required">
      <b>Anna tuotteelle kuvaus!</b></span>
    <span class="error" ng-show="muokattavaAteria.kuv.$error.text">
      <b>Antamasi kuvaus on virheellinen!</b></span>
  </div>
<p>Saatavilla: {{saatavilla}}</p>
<p>Valmistaja_id: {{valmistaja_id}}</p>
<p></p>
<button type="submit" ng-disabled="muokattavaAteria.$invalid" ng-click="paivita()" ng-show="kirjautunut" class="btn btn-success">Päivitä tuote!</button>
</form>   